*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/74/49/F7dPYn.jpg");
    background-size: 100% 100%;
    position: absolute;
}

.logo{
    margin-top: 2rem;
    width: 100%;
}

#icon{
    font-size: 5rem;
    float: left;
    color: rgb(255, 238, 0);
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: -1rem;
}

#name{
    margin-top: 2rem;
    /* font-family: 'Satisfy', cursive; */
    color: #ffff;
    font-weight: 700;
}

#wrapper{
    width: 40%;
    height: 33rem;
    box-shadow: 0 0 10px;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
}

.inputForm{
    width: 10%;
}
